{{! 
Це код container файлу для summary сторінки, 
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/summary"
}}

<main>
  <h1 class='text-center text-uppercase'>Hello world</h1>
  <h2 class='text-end text-lowercase'>Second</h2>
  <h3 class='text-capitalize'>Third heading</h3>
  <hr />
  <div class='display-1 text-muted'>Hello world</div>
  <div class='display-1'>Hello World</div>
  <div class='display-5'>Second </div>
  <div class='display-6'>Third</div>

  <hr />
  <div class='text-end text-muted'>Aditional
    <span class='display-6'>text</span></div>

  <hr />

  <div class='card'>
    <div class='card-body'>
      <button class='btn btn-primary btn-lg'>Test button</button>

      <a href='#' class='btn btn-primary btn-sm'>Test button</a>
    </div>
  </div>

  <hr />

  <p class='text-primary'>My text</p>

  <hr />

  <button class='btn btn-outline-primary'>Test button</button>
</main>

<hr />

<div class='card'>
  <div class='card-body'>
    This is content
  </div>
</div>
<div>

</div>

{{!-- 
    Цей код містить лише те, що буде виводитись в {{{body}}} в layout/default.hbs
    Адже наш layout/default.hbs має вже структуру HTML
--}}